<header>

    <div class="header-component">

        <div class="content-section">
            <div class="image-section">
                <img class="image" src="../../../../assets/images/crowded-b-e1531180311672.png" alt="image.png">
            </div>

            <nav class="navigation">
                <div id="menuToggle">
                    <input class="input-checkbox" type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a href="#">
                            <li>List Of Expression</li>
                        </a>
                        <a href="#">
                            <li>Login SignUp</li>
                        </a>
                    </ul>
                </div>
            </nav>

            <div class="search-section">
                Here Comes the Search
            </div>


            <div class="action-buttons">
                <a href="" class="common-action">List Your Business</a>
                <a href="" class="common-action">Sign Up / Log in</a>
            </div>

        </div>
    </div>
</header>